
.header{
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}
.header-info-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #348e38;

}

.header-info-text{
    color: #fff;
    font-weight: 500;
    font-size: 14px;

}

.header-info-custom-icon{
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.header-info-custom-icon:hover{
    color: #0f4229;
    transition: all 0.2s ease-in-out;
}


.logo{
    width: auto;
    height: 60px;
    cursor: pointer;
}
.main-header {
    background-color: #E7F5E9;
    padding: 20px;
}

.main-header li{
    list-style: none;
    cursor: pointer;
    font-size: 15px;
    color: #0f4229;
}

nav ul li {
    position: relative;
    list-style: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 0;
}

nav ul li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    border-radius: 8px;
    background-color: #0f4229;
    transition: width 0.3s ease-in-out;
}

nav ul li:hover::after {
    width: 100%;
}

nav ul li.active::after {
    width: 100%;
}



nav ul li a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
}

nav ul li a:hover {
    color: inherit;
}

.registration-btn{
    background-color: #348e38;
    color: #fff;
    font-size: 13px;
    padding: 7px 15px;
    border: 1px solid #348e38;
    border-radius: 4px;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}
.registration-btn:hover{
    background-color: #fff;
    border: 1px solid #348e38;
    color: #348e38;
}
.authorization-btn{
    background-color: #fff;
    color: #348e38;
    border: 1px solid #348e38;
    font-size: 13px;
    padding: 7px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.authorization-btn:hover{
    background-color: #348e38;
    border: 1px solid #348e38;
    color: #fff;
}

.burger-bar{
    width: 45px;
    height: 45px;
}

@media(max-width:600px){
    .main-header{
        padding: 8px 15px;
    }

}