.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 400px;
    min-height: 550px;
}

.auth-form-container {
    width: 100%;
}

/* Form Elements */
.auth-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
}

.form-field {
    margin-bottom: 15px;
}

.custom-textfield {
    width: 100%;
}

.custom-textfield .MuiInputBase-root {
    background-color: #fff !important;
    color: #000000 !important;
    border: 1px solid #EFF1F4;
}

.custom-textfield .MuiInputLabel-root {
    color: black !important;
    font-size: 14px;
}

.custom-textfield .MuiInputLabel-root.Mui-focused {
    color: #348e38 !important;
}

.custom-textfield .MuiFilledInput-underline:before {
    border-bottom: 2px solid white !important;
}

.custom-textfield .MuiFilledInput-underline:hover:before {
    border-bottom: 2px solid #348e38 !important;
}

.custom-textfield .MuiFilledInput-underline:after {
    border-bottom: 2px solid #348e38 !important;
}

.checkbox-container {
    margin: 0.1rem 0;
}

.auth-btn {
    background-color: #348e38;
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    border: 1px solid #348e38;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.auth-btn:hover {
    background-color: #fff;
    color: #348e38;
}
