.honey-detail-image{
    width: 100%;
    max-height: 520px;
    border-radius: 8px;
}
.honey-image-container{
    max-width: 1170px;
    height: auto;
}
.detail-title{
    color: #1F1E17;
    font-size: 28px;
    font-weight: bold;
    line-height: 42px;
    text-align: left;
}

.detail-text{
    color: #878680;
    line-height: 30px;
    font-size: 15px;
    text-align: left;
    padding-right: 20px;


}

.bold-details-text{
    line-height: 30px;
    font-size: 16px;
    color: #1F1E17;
    font-weight: bold;
}

.details-card{
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 38px 60px;
    border-top: 4px solid #348e38;
}
.detail-card-title{
    color: #878680;
    line-height: 26px;
    font-size: 14px;
    text-align: left;
    padding: 0;
    margin: 0;
}

.detail-card-text{
    line-height: 26px;
    font-size: 15px;
    color: #1F1E17;
    padding: 0;
    margin: 0;
    font-weight: 600;
}

.make-application-btn{
    background-color: #348e38;
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    border: 1px solid #348e38;
    border-radius: 4px;
    width: 80%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.test{
    font-weight: 600;
    color: #348e38;
    cursor: pointer;
    font-size: 16px;
}




@media (max-width: 1024px) {
    .details-info-wrapper{
        flex-direction: column;
        gap: 15px;
    }
    .details-text-wrapper{
        width: 100% !important;
    }
    .details-card-wrapper{
        width: 100% !important;

    }
    .detail-text{
        line-height: 20px;
        font-size: 14px;
        padding-right: 0;
    }
}

@media (max-width: 724px) {
    .honey-image-container{
        display: none;
    }
    .detail-text{
        line-height: 16px;
        font-size: 12px;
    }
}

@media (min-width: 2500px) {
    .honey-image-container{
        display: none;
    }
}